<h1 class="text-center mt-5">Total Shipments-2022</h1>
<div class="m-5">
    <h4>Hyundai Creta</h4>
    <mat-progress-bar  mode="determinate" value="40"></mat-progress-bar>
    

    <h4>Hyundai Venue</h4>
    <mat-progress-bar mode="determinate" class="green" value="60"></mat-progress-bar>
    <h4>Hyundai i20</h4>
    <mat-progress-bar color="warn"  mode="determinate" value="20"></mat-progress-bar>
    <h4>Hyundai i10</h4>
    <mat-progress-bar  mode="determinate" value="30"></mat-progress-bar>
    <h4>Hyundai Alcazar</h4>
    <mat-progress-bar color="warn" mode="determinate" value="5"></mat-progress-bar>
</div>