

  <mat-sidenav-container  hasBackdrop="false">
    <mat-sidenav mode="push" [(opened)]="opened" ><app-side-nav></app-side-nav></mat-sidenav>

    <mat-sidenav-content > 
      
        <mat-toolbar  id="dash" >
         <button (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="text-light"	>Dashboard</span>
        <span class="example-spacer"></span>

          <mat-icon matBadge="2" matBadgeOverlap="false" matBadgeSize="small" [matMenuTriggerFor]="menu" >notifications_active</mat-icon>
          &nbsp;
          <mat-menu #menu="matMenu">
            <p mat-menu-item>Notification 1</p>
            <p mat-menu-item>Notification 2</p>

           
          </mat-menu>
      
      </mat-toolbar>
      
      
      <app-dashboard></app-dashboard></mat-sidenav-content>
  </mat-sidenav-container>




<mat-divider></mat-divider>
<app-footer></app-footer>